<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Title</title>
  <meta name="description" content="A basic HTML5 template.">
  <meta name="author" content="Your Name">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/scripts.js"></script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <h1>Hey, there!</h1>
</body>
</html>
